/* COMPONENT STRUCTURE AND STYLE */

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-size:2.5em;
    padding:5px;
    margin:5px;
}

header.light{
    background:lightgray;
}

.list-items .ListItem:first-of-type{
    border-top:1px solid gray;
}


/* ANIMATIONS */
.list-enter-active {
    transition: opacity 0.5s;
}
.list-leave-active{
    transition:all 0.5s;
    transform:translateX(60px);
}
.list-enter, .list-leave-to {
    opacity: 0;
}

.fade-enter-active{
    transition: opacity .2s;
}
.fade-enter{
    opacity: 0;
}
@keyframes fadeIn{
    from {opacity: 0.4;}
    to   {opacity: 1;}
}
.UserChecklists{
    /* this gives extra breathing room so the fab doesn't obscure list items */
    padding-bottom:80px;
    animation:fadeIn 0.5s;
}