.ListItem{
    border-bottom:1px solid gray;
}
.display-elements{
    position:relative;
    display:flex;
    align-items:center;
    min-height:50px;

    overflow:hidden;
}

.action-buttons{
    position:absolute;

    display:flex;

    min-height:50px;
    height:100%;
    width:200px;

    top:0px;
    right:-202px;
    transition:0.25s;
    
} 
.action-buttons.displayActionButtons{
    right:0px;
    transition:0.25s;
} 
.action-buttons button{
    min-height:50px;
    height:100%;
    width:100%;
    border:1px solid black;
}
.action-buttons button:last-of-type{
    background:red;
}
.action-buttons button:first-of-type{
    background:green;
}
.action-buttons button:nth-of-type(2){
    background:goldenrod;
}